nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.brand-container {
		.brand {
			img {
				height: 100%;
			}
		}
		.toggle-container {
			display: none;
			.mode {
				.dark {
					color: yellow;
				}
				.light {
					color: #000;
				}
			}
		}
	}
	.links-container {
		.links {
			list-style-type: none;
			display: flex;
			gap: 4rem;
			li {
				.dark {
					color: #000;
				}
				.light {
					color: yellow;
				}
				a {
					color: var(--accent-color1);
					text-decoration: none;
				}
				&:last-of-type {
					a {
						color: var(--pink);
					}
				}
			}
		}
	}
}

[data-theme='light'] {
	nav {
		.brand-container {
			.brand {
				img {
					filter: brightness(0);
				}
			}
		}
	}
}
