.releases {
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	.release {
		display: grid;
		grid-template-columns: 1fr 1fr;
		border-radius: 0.5rem;
		.content {
			padding: 5rem 8rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			.title {
				font-size: 2rem;
			}
			.description {
				font-size: 1.3rem;
				a {
					color: var(--black);
					font-weight: bold;
				}
			}
			.link {
				color: var(--black);
				font-weight: bold;
				display: inline-flex;
				gap: 1rem;
				text-decoration: none;
				svg {
					font-size: 1.2rem;
				}
			}
		}
		.image {
			position: relative;
			overflow: hidden;
			text-align: center;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			img {
				height: 24rem;
			}
			.ellipse {
				z-index: -1;
				position: absolute;
				height: 20rem;
				width: 20rem;
				filter: blur(100px);
				bottom: -40%;
				right: 0;
			}
			.pink {
				background-color: var(--pink);
			}
		}
		.card-container {
			position: relative;
			overflow: hidden;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			.ellipse {
				z-index: -1;
				position: absolute;
				height: 20rem;
				width: 20rem;
				filter: blur(100px);
				bottom: -45%;
				left: 20%;
			}
			.orange {
				background-color: var(--orange);
			}
		}
	}
	.orange {
		background-color: var(--orange);
	}
	.green {
		background-color: var(--green);
	}
}
